{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'inicio/css/style.css' %}">
<title>Documento sin título</title>	
</head>

<body>
<div id="general">
	<div class="hea-fot">
		<div class="cl_rojo"></div>
		<div class="cl_rojo"></div>
		<div class="cl_verde"></div>
		<div class="cl_verde"></div>
		<div class="cl_azul"></div>
		<div class="cl_azul"></div>
	</div>
	<div class="costado">
		<div class="cl_rojo"></div>
		<div class="cl_rojo"></div>
		<div class="cl_verde"></div>
		<div class="cl_verde"></div>
	</div>
	<div class="centro">
		<div class="c-centro">
			<span class="boton"><input id="bot1" type="button" value="boton1"></span>
			<span class="boton"><input id="bot2" type="button" value="boton2"></span>
			<span class="boton"><input id="bot3" type="button" value="boton3"></span>
		</div>
		<div class="c-centro">
			<span id="cir_rojo" style="background-color: red" class="circu"></span>
			<span id="cir_verde" style="background-color: green" class="circu"></span>
			<span id="cir_azul" style="background-color: blue" class="circu"></span>
		</div>
	</div>
	<div class="costado">
		<div class="cl_rojo"></div>
		<div class="cl_rojo"></div>
		<div class="cl_azul"></div>
		<div class="cl_azul"></div>
	</div>
	<div class="hea-fot">
		<div class="cl_azul"></div>
		<div class="cl_azul"></div>
		<div class="cl_verde"></div>
		<div class="cl_verde"></div>
		<div class="cl_rojo"></div>
		<div class="cl_rojo"></div>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
crossorigin="anonymous"></script>
<script src="{% static 'inicio/js/main.js' %}"></script>
</html>
