#block1 { grid-area: bloque1;}
#block2 { grid-area: bloque2;}
#block3 { grid-area: bloque3;}
#block4 { grid-area: bloque4;}
#block5 { grid-area: bloque5;}
#block6 { grid-area: bloque6;}
#block7 { grid-area: bloque7;}
#block8 { grid-area: bloque8;}
#block9 { grid-area: bloque9;}
#block10 { grid-area: bloque10;}
#block11 { grid-area: bloque11;}
#block12 { grid-area: bloque12;}

.block8-1 { grid-area: bloque8-1;}
.block8-2 { grid-area: bloque8-2;}
.block8-3 { grid-area: bloque8-3;}

.grid-container2{
    display: grid;
    grid-template-areas:
    'bloque1 bloque1 bloque2 bloque2 bloque3 bloque3'
    'bloque4 bloque5 bloque5 bloque5 bloque5 bloque6'
    'bloque7 bloque8 bloque8 bloque8 bloque8 bloque9'
    'bloque10 bloque10 bloque11 bloque11 bloque12 bloque12';
    grid-gap: 1px;
    /* background-color: #2196F3; */
    padding: 1px;
}

.grid-container2 > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.contenedor{
    display: grid;
    grid-template-areas:
    'bloque8-1 bloque8-2 bloque8-3';
    grid-gap: 1px;
    padding: 1px;
}

.contenedor > div {
    text-align: center;
    padding: 8px 0;
    font-size: 30px;
}

#block4, #block6, #block7, #block9{
    height: 160px;
}

#block1, #block4, #block6, #block12{
    background-color: red ;
}
#block2, #block7, #block11{
    background-color:green ;
}
#block3, #block9, #block10{
    background-color: blue ;
}
/* .block5{
    background-color: white ;
} */

/* .block8{
    background-color:white ;
} */

.boton {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/* .circulo1 {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circulo1 > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.circulo2 {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background: green;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circulo2 > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.circulo3 {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circulo3 > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
} */

.circulo {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.circulo1 {	background: red; }

.circulo2 {	background: green; }

.circulo3 {	background: blue; }
